<%= form_with model: @will do |form| %>
  <% if will.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(will.errors.count, "error") %> prohibited this will from being saved:</h2>

      <ul>
        <% will.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :public, style: "display: block" %>
    <%= form.check_box :public %>
  </div>

  <div>
    <%= form.label :prepaid, style: "display: block" %>
    <%= form.check_box :prepaid %>
  </div>

  <h3>Beneficiaries</h3>
  <%= form.fields_for :beneficiaries do |subform| %>
    <div>
      <%= subform.label :name, style: "display: block" %>
      <%= subform.text_field :name %>
    </div>
  <% end %>

  <br/>
  <h3>Assets</h3>
  <%= form.fields_for :assets do |subform| %>
    <div>
      <%= subform.label :title, style: "display: block" %>
      <%= subform.text_field :title %>
    </div>

    <div>
      <%= subform.label :description, style: "display: block" %>
      <%= subform.text_area :description %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>

<% end %>
