<%= form_with model: @will, url: user_will_path(current_user) do |form| %>

  <% if will.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(will.errors.count, "error") %> prohibited this will from being saved:</h2>
      <ul>
        <% will.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Testator:</h3>
  <%= form.fields_for :testator do |subform| %>
    <div>
      <%= subform.label :first_name, style: "display: block" %>
      <%= subform.text_field :first_name %>
    </div>
    <div>
      <%= subform.label :middle_name, style: "display: block" %>
      <%= subform.text_field :middle_name %>
    </div>
    <div>
      <%= subform.label :last_name, style: "display: block" %>
      <%= subform.text_field :last_name %>
    </div>
  <% end %>

  <h3>Beneficiaries</h3>
  <%= form.fields_for :beneficiaries do |subform| %>
    <div>
      <%= subform.label :first_name, style: "display: block" %>
      <%= subform.text_field :first_name %>
    </div>
    <div>
      <%= subform.label :last_name, style: "display: block" %>
      <%= subform.text_field :last_name %>
    </div>
    <div>
      <%= subform.label :relation, style: "display: block" %>
      <%= subform.select :relation, ['Decendent', 'Friend', 'Other'] %>
    </div>
    <div>
      <%= subform.label :note, style: "display: block" %>
      <%= subform.text_area :note %>
    </div>
  <% end %>

  <% will.beneficiaries.each do |ben| %>
    <%= ben.first_name %>
  <% end %>
  <h3>Assets</h3>
  <p>This the where you put your house.</p>
  <%= form.fields_for :assets do |subform| %>
    <div>
      <%= subform.label :asset_type, style: "display: block" %>
      <%= subform.select :asset_type, ['Property', 'Monetary', 'Other']%>
    </div>
    <div>
      <%= subform.label :title, style: "display: block" %>
      <%= subform.text_field :title %>
    </div>
    <div>
      <%= subform.label :description, style: "display: block" %>
      <%= subform.text_area :description %>
    </div>
    <%= subform.fields_for :bequest do |b| %>
      <%= b.label :beneficiariable, value: 'Beneficiary', style: "display: block" %>
      <%= b.select :beneficiariable, ['one', 'two', 'three']%>
    <% end %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>

<% end %>
