<%= form_with model: @will do |form| %>
  <% if will.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(will.errors.count, "error") %> prohibited this will from being saved:</h2>

      <ul>
        <% will.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :public, style: "display: block" %>
    <%= form.check_box :public %>
  </div>

  <div>
    <%= form.label :prepaid, style: "display: block" %>
    <%= form.check_box :prepaid %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
