<h1>Will Preview</h1>
<section class='testator'>
  <h2>Testator:</h2>
</section>
<section class='benficiaries'>
  <h2>Beneficiaries</h2>
  <ul>
    <% @beneficiaries.each do |beneficiary| %>
      <li>
        <h3><%= beneficiary.first_name %></h3>
        <h3><%= beneficiary.last_name %></h3>
        <p><%= beneficiary.role %></p>
        <p><%= beneficiary.note %></p>
      </li>
    <% end %>
  </ul>
</section>
<section class='assets'>
  <h2>Assets:</h2>
  <ul>
    <% @assets.each do |asset| %>
      <li>
        <h3><%= asset.asset_type %></h3>
        <h3><%= asset.title %></h3>
        <p><%= asset.description %></p>
      </li>
    <% end %>
  </ul>
</section>
