<p style="color: green"><%= notice %></p>

<%= render @will %>

<div>
  <%= link_to "Edit this will", edit_will_path(@will) %> |
  <%= link_to "Back to wills", wills_path %>

  <%= button_to "Destroy this will", @will, method: :delete %>
</div>
