<p style="color: green"><%= notice %></p>

<%= render @delegate %>

<div>
  <%= link_to "Edit this delegate", edit_delegate_path(@delegate) %> |
  <%= link_to "Back to delegates", delegates_path %>

  <%= button_to "Destroy this delegate", @delegate, method: :delete %>
</div>