<div id="<%= dom_id finance %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Will:</strong>
    <%= finance.will_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Finance type:</strong>
    <%= finance.finance_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bank name:</strong>
    <%= finance.bank_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account type:</strong>
    <%= finance.account_type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this finance", finance, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this finance', edit_finance_path(finance), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
