<%# Takes in f: form, delegates: delegates %>
<div class="nested-fields col-span-1 relative">

    <%= f.hidden_field :beneficiariable_type, value: "Delegate" %>
    <%= f.hidden_field :_destroy, value: 0 %>

    <div class="grid grid-cols-3 gap-1 truncate mx-auto">
      <div class="col-span-2 flex items-center ">
        <%= f.label :beneficiariable_id, value: "Beneficiary", class: "hidden" %>
        <%= f.select :beneficiariable_id, delegates.collect{ |delegate| [ delegate.full_name, delegate.id ] }, {}, class: "inline-flex focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
      </div>
      <div class="col-span-1 flex items-center ">
        <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" },  class: "w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm" %>
      </div>
    </div>
</div>
