<%= turbo_frame_tag "#{dom_id(property)}_item" do %>
<li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
  <div class="relative bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:w-full sm:p-6">
    <div>
      <div class="w-full flex items-center justify-between space-x-6">
        <div class="flex-1 truncate">

          <% if property.errors.any? %>
            <div class="mb-3">
              <%= render "shared/error_messages", resource: property %>
            </div>  
          <% end %>

          <div class="flex items-center space-x-3">
            <h3 class="text-lg leading-6 font-medium text-gray-900"><%= property.title %></h3>
            <span class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-xs font-medium bg-green-200 rounded-full">Personal</span>
          </div>
          <p class="mt-1 text-gray-500 text-sm truncate">Address: <%= property.address.short_address %></p>

          <div class="mt-1">
            <h2 class="text-gray-500 text-sm font-medium">Main beneficiaries:</h2>
            <ul role="list" class="mt-3 grid grid-cols-1 gap-3 sm:gap-3 sm:grid-cols-2 lg:grid-cols-3">
              <% property.primary_beneficiaries.each do |delegate| %>
                <%= render "shared/delegate_small", delegate: delegate, color: "bg-indigo-600" %>
              <% end %>
            </ul>
          </div>

          <div class="mt-3">
            <h2 class="text-gray-500 text-sm font-medium">Content beneficiaries:</h2>
            <ul role="list" class="mt-3 grid grid-cols-1 gap-3 sm:gap-3 sm:grid-cols-2 lg:grid-cols-3">
              <% property.secondary_beneficiaries.each do |delegate| %>
                <%= render "shared/delegate_small", delegate: delegate, color: "bg-pink-500" %>
              <% end %>
            </ul>
          </div>  

        </div>
      </div>
    <div>
    <div class="mt-4 sm:mt-5 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
      <%= link_to "Edit", edit_user_will_property_path(current_user, property), data: { turbo_frame: "model" }, class: "w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:col-start-2 sm:text-sm"%>
      <%= button_to "Delete", user_will_property_path(current_user, property), form: { data: { turbo_confirm: "Are you sure?", turbo_frame: "_top" }}, method: :delete, class: "mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm" %>
    </div>
  </div>
</li>
<% end %>
