<nav id="navbar" >
  <div class="container">
    <ul>
      <li>
        <%= link_to "Home", root_path%>
      </li>
      
      <% if user_signed_in? %>
        <li>
          <%= link_to "See wills", user_wills_path(current_user) %>
        </li>
        <li> 
          <% if current_user.will && current_user.will.persisted? %>
            <%= link_to "View will", user_will_path(current_user)%>
          <% else %>
            <%= link_to "Create will", new_user_will_path(current_user)%>
          <% end %>
        </li>
        <li>
          <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %>
        </li>

      <% else %>
        <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>
      <% end %>
      
    </ul>
  </div>
</nav>