<div class="bg-gray-100">
  <main class="mx-auto max-w-7xl">
    <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8 ">
      <div class="py-8 px-4 shadow sm:rounded-lg sm:px-10 bg-white">
        <%= form_with model: [:user, :will, @asset], class: "mt-5 sm:flex sm:items-center", html: { class: "asset form" } do |f| %>
        <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
          <%= render "shared/error_messages", resource: @asset %>
          <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">Personal Information</h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">Enter your full legal name and address.</p>
            </div>
            <div class="space-y-6 sm:space-y-5">

              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <%= f.label :asset_type, value: "Type", class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"  %>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <%= f.select :asset_type, ['Property', 'Savings', 'Currency', 'Credit', 'Motor-vehicle'], {}, class:"max-w-lg block focus:ring-indigo-500 focus:border-indigo-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
                </div>
              </div>

              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <%= f.label :title, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <%= f.text_field :title, class: "max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
                </div>
              </div>

              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <%= f.label :description, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <%= f.text_area :description, rows: 4, class: "max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
                </div>
              </div>
              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              </div>
            </div>

            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">Location</h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">Enter the location of the asset.</p>
            </div>
            <div class="space-y-6 sm:space-y-5">

              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <label for="country" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> Country </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <select id="country" name="country" autocomplete="country-name"
                    class="max-w-lg block focus:ring-indigo-500 focus:border-indigo-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                  </select>
                </div>
              </div>

              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <label for="city" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> City </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <input type="text" name="city" id="city" autocomplete="address-level2"
                    class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                </div>
              </div>

            </div>
            <div class="flex justify-end">
              <%= link_to "Cancel", user_will_assets_path(current_user), class: "bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
              <%= f.submit value: "Save", class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
            </div>
          </div>
          <% end %>
        </div>
      </div>
  </main>
</div>
<!--
  <%#= f.fields_for :bequests, Bequest.new do |ff| %>
      <div>
        <%#= ff.label :beneficiariable_id, value: "Beneficiary", style: "display: block" %>
        <%#= ff.select :beneficiariable_id, @beneficiaries.collect{ |beneficiary| [beneficiary.delegate.full_name, beneficiary.id] } %>
      </div>

      <div>
        <%#= ff.hidden_field :beneficiariable_type, value: "Beneficiary" %>
      </div>

      <div>
        <%#= ff.label :percentage, style: "display: block" %>
        <%#= ff.text_field :percentage %>
      </div>
  <#% end %>
-->